﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="frmPerfilAcudiente.aspx.cs" Inherits="prjEscuelaDeporte.frmPadrePrincipal" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="img/fond.jpg" rel="icon" />
    <title>Perfil Padre</title>
</head>
<body style="background-image:url(img/fondoPadre.jpg); background-size:cover;">
    <form id="frmPerfilPadre" runat="server">
        <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
            <a href="frmPerfilAcudiente.aspx" class="navbar-brand">Escuela de deportes</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link">Crear estudiante</a>
                </li>
                <li class="nav-item">
                    <a href="frmSeleccionarGrupoAcudiente.aspx" class="nav-link">Seleccionar grupo</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Autorizar grupo</a>
                </li>
                <li class="nav-item dropdown ">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Perfil</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="frmEditarPerfilAcudiente.aspx">Editar perfil</a>
                    </div>
                </li>
                <li class="nav-item" style="margin-left:30em;">
                    <a href="frmLogin.aspx" class="nav-link">Cerrar sesión</a>
                </li>
            </ul>
        </nav>
    </form>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
