body {
    background-image: url('../img/fondo.jpg');
    background-size: cover;
}

.iniciar{
    width: 300px;
    height: 100px;
    font-size: 25px;
    font-weight: bold;
}
.contenedorPrincipal{
    padding-top: 180px;
}
.jumbotron {
    background: black;
    opacity: 0.9;
    transition: 1s;
}
h1{
    color: white;
}
.jumbotron:hover{
    transition: 1s;
    opacity: 1;
}
.iniciar:hover {
    background: #4BB543;
    color: white
}

