﻿body {
    background-image: url(../img/escenario.jpg);
    background-size: cover;
}

.card {
    width: 400px;
    text-align: center;
    margin: auto;
    opacity: 0.9;
    margin-top: 12em;
}

.btn {
    color: white;
    font-family: Arial;
}

.btn:hover {
    box-shadow: 0px 3px 20px #1cc4d6;
    color: white;
    font-weight: bold;
}

h5 {
    font-family: 'Lucida Calligraphy';
    font-weight: bold;
}

.form-control {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.table {
    margin-top: 10em;
    width: 320px;
    text-align: center;
    margin-left: 450px;
    color: white;
}
