﻿body {
    background-image: url('../img/fond.jpg');
    background-size: cover;
}
.imagenes {
    width: 80px;
    display: inline;
    align-items: center;
    float: left;
}
.admin:hover {
    box-shadow: 0px 3px 20px blue;
    background-color: #ccc;
    border-radius: 100px;
}
.docente:hover {
    box-shadow: 0px 3px 20px green;
    background-color: #ccc;
    border-radius: 100px;
}
.estudiante:hover {
    box-shadow: 0px 3px 20px yellow;
    background-color: #ccc;
    border-radius: 100px;
}
.padre:hover {
    box-shadow: 0px 3px 20px red;
    background-color: #ccc;
    border-radius: 100px;
}
.card{
    width: 400px;
    text-align: center;
    margin: auto;
    opacity: 0.9;
    margin-top: 5em;
}
.inputs {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h5{
    font-family: 'Lucida Calligraphy';
    font-weight: bold;
}

.btn{
    color: white;
    font-family: Arial;
}
.btn-primary:hover {
    box-shadow: 0px 3px 20px blue;
    color: white;
    font-weight: bold;
}
.btn-success:hover {
    box-shadow: 0px 3px 20px green;
    color: white;
    font-weight: bold;
}
.btn-warning:hover {
    box-shadow: 0px 3px 20px yellow;
    color: white;
    font-weight: bold;
}
.btn-danger:hover {
    box-shadow: 0px 3px 20px red;
    color: white;
    font-weight: bold;
}

