﻿body {
    background-image: url(../img/padre.jpg);
    background-size: cover;
}
.card {
    width: 400px;
    text-align: center;
    margin: auto;
    opacity: 0.9;
    margin-top: 5em;
    box-shadow: 10px 10px 39px 0px rgba(242,116,116,1);
}
.btn {
    color: white;
    font-family: Arial;
}
.btn:hover {
   box-shadow: 0px 3px 20px red;
   color: white;
   font-weight: bold;
}
h5 {
    font-family: 'Lucida Calligraphy';
    font-weight: bold;
}
.form-control {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.form-control:focus {
    border-color: rgb(187,33,36);
}
.table {
    margin-top: 10em;
    width: 810px;
    text-align: center;
    margin-left: 120px;
    color: white;
}
.txtD{
    width : 100px;
}
.txtN{
    width: 150px;
}
.txtE{
    width:30px;
}
.txtT {
    width: 80px;
}
.txtU {
    width: 100px;
}